<html>
<head>
<title>Ericas Treats - Go on Google Cloud Platform</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="./styles/style.css">
</head>
<body>
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Ericas Kitchen</div>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/treats">Treats</a></li>
    </ul>

    <ul class="nav navbar-nav">
      <li><a href="/treats/about">About</a></li>
    </ul>
  </div>
</div>
    <div class="container-fluid">
    <div class="row row-no-gutters">
        <div class="col-md-6 col-md-offset-3">
            <div class ="row row-no-gutters">
                <div class="col-md-6 col-md-offset-3">
                    <div class="title">Welcome to the kitchen beyond reality!</div>
                    <h1>Checkout some of our options</h1>
                    <a href="" class="button">Open Catalog</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="container">
  {{template "body" .Data}}
</div>
</body>
</html>